html {
  font-size: clamp(14px, 0.2vw + 13.2px, 16px);
  --layout-row-height: 1.4375rem;  /* 23px */
  --layout-columns-number: 5;
  --type-scale: 1.25;
  --color-light: #EBEBEB;
  --color-dark-1: #000000;
  --color-dark-2: #242424;
  --color-accent-1: #FED91F;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--color-dark-1);
}

.box-container {
  padding: 3vw;
  /*background-color: green;*/
  display: flex;
  flex-wrap: wrap;
  gap: max(1rem, 1vw);
}

.box {
  background-color: var(--color-dark-2);
  padding: 0.5rem 2rem 1rem 2rem;
  min-width: 15rem;
  /*max-width: 30rem; */
  flex: 0 0 25.1%;  /* At most 3 columns per row */
}


/*----------------------------------------------------------------------------*
 * Typography
 *----------------------------------------------------------------------------*/

p {
  line-height: var(--layout-row-height);
}

h1, h2, h3 {
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent-1);
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.25em;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

h1.large {
  font-size: calc(1rem * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale));
  line-height: calc(4 * var(--layout-row-height));
  text-decoration-thickness: 0.3em;
  text-underline-offset: 0.2em;
}

h1.normal {
  font-size: calc(1rem * var(--type-scale) * var(--type-scale) * var(--type-scale));
}

h2 {
  font-size: calc(1rem * var(--type-scale));
  text-transform: uppercase;
}

h3, .is-small-text {
  font-size: calc(1rem / var(--type-scale));
}

.is-dark-text {
  color: var(--color-dark-1);
}

/*----------------------------------------------------------------------------*
 * Layout grid (delete before publication)
 *----------------------------------------------------------------------------*/
/*.layout:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  opacity: 0.2;
}
.layout.rows:after {
  background: repeating-linear-gradient(
    transparent,
    transparent var(--layout-row-height),
    red var(--layout-row-height),
    red calc(var(--layout-row-height)*2)
  );
}
.layout.columns:after {
  background: repeating-linear-gradient(
    to left,
    transparent,
    transparent calc(100%/var(--layout-columns-number)),
    blue calc(100%/var(--layout-columns-number)),
    blue calc(100%/var(--layout-columns-number)*2)
  );
} */
